body{
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1{
    background-color: #2f6fab;
    padding: 15px;
    color: white;
    border-radius: 8px;
}

button{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

button:hover{
    background-color: darkgreen;
}

#reiniciar{
    display: block;
    margin-top: 15px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}